services:
  {{ project_name }}:
    image: {{ project_name }}:latest
    stdin_open: true
    tty: true
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: {{ GPU_COUNT }}
              capabilities: [gpu]
    command: ["/bin/bash"]
    restart: unless-stopped
    container_name: {{ project_name }}